.wrapper-archive-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.archive-container {
    padding-bottom: 200px;
}
.archive-intro-banner {
    display: flex;
    height: auto;

    justify-content: space-between;
    align-items: center;

    flex-shrink: 0;
}
.intro-infobox {
    display: flex;

    width: 50%;
    max-width: 600px;

    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 20px;

    flex-shrink: 0;
}

.intro-infobox-title {
    margin: 0;

    color: var(--text_color);
    font-family: "Franko-Bold";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.intro-infobox-subtitle {
    margin: 0;

    color: var(--text_color);
    font-family: "Franko-Light";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.archive-spline {
    height: 600px;
}
.archive-news-banner {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.news-title {
    height: auto;
    color: var(--text_color);
    font-family: "Franko-Bold";
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.news-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Franko-Light";
    font-size: 50px;
    font-weight: bold;
    color: var(--text_color);
    padding: 10px;
    border-left: 2px solid var(--text_color);
}

@media screen and (max-width: 1660px) {
    .archive-intro-banner {
        margin-top: 30px;
        gap: 100px;
    }

    .archive-spline {
        height: 450px;
    }
}
@media screen and (max-width: 1000px) {
    .archive-intro-banner {
        margin-top: 20px;
        flex-direction: column;
        gap: 30px;
    }

    .intro-infobox-title {
        font-size: 30px;
    }

    .intro-infobox-subtitle {
        font-size: 18px;
    }

    .archive-container {
        height: auto;
    }

    .intro-infobox {
        width: auto;
        align-items: center;
        padding-inline: 10px;
        gap: 10px;
    }

    .intro-infobox p {
        text-align: center;
    }

    .archive-spline {
        width: 80%;
        height: auto;
        max-width: 500px;
        max-height: 600px;
    }
    /*  */
    .archive-news-banner {
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin-top: 150px;
    }
    .news-title {
        font-size: 24px;
        border-bottom: 2px solid var(--text_color);
        padding: 20px 0;
        width: 100%;
        max-width: 400px;
        text-align: center;
    }
    .news-text {
        border-left: 0px;
        text-align: center;
        font-size: 30px;
        max-width: 400px;   
        padding: 20px;
    }
}
