.wrapper-archive-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.archive-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 200px;
}
.archive-title-container {
    width: max-content;
    height: 85px;
    position: relative;
}
.archive-title-container img {
    width: 85px;
}
.archive-title-container p {
    color: #fff;
    text-align: center;
    font-family: Arial;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.archive-content-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap:100px;
}
.archive-menu {
    display: flex;
    flex-direction: column;
    gap: 17px;
    max-width: 154px;
    height: auto;
}
.archive-menu a {
    color: var(--text_color);
    font-family: "Commissioner";
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
.archive-main {
    display: flex;
    flex-direction: column;
    gap: 40px;

    max-width: 1000px;
    width: 80%;
    height: auto;
}
.archive-main-block {
}
.archive-main-block-title {
    color: var(--text_color);
    font-family: Georgia;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
}
.archive-main-block-info-container {
    display: flex;
    flex-direction: column;
    gap: 44px;
}
.archive-main-block-info {
    color: var(--text_color);
    font-family: "Commissioner";
    font-size: 17px;
    font-style: italic;
    font-weight: 300;
    line-height: 37px;
}
.archive-main-block-info a {
    color: var(--archive_link_color);
    font-family: "Commissioner";
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    text-decoration-line: underline;
}
