* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 1000px;
}

a {
    text-decoration: none;
    color: inherit;
}
/* переменные */
:root {
    --main: #000;
}